node_modules
.next
.env
.env.local
.env*.local
data/course-details-store.json
data/contact-queries-store.json
data/career-applications-store.json
data/admin-careers-seen.json
data/admin-queries-seen.json
public/career-cvs
data/blog-store.json
out
.DS_Store
tsconfig.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
